version: '3'
services:
  web:
    build:
      context: .
      dockerfile: Dockerfile.dev
    command: bash -c "bundle install && bundle exec rails db:prepare && rm -f tmp/pids/server.pid && ./bin/dev"
    tty: true
    stdin_open: true
    volumes:
      - .:/myapp
      - bundle_data:/usr/local/bundle:cached
      - node_modules:/myapp/node_modules
    environment:
      TZ: Asia/Tokyo
      DATABASE_URL: ${DATABASE_URL}
    ports:
      - "3000:3000" 
    healthcheck:
      test: ["CMD-SHELL", "bundle exec rails db:connection"]
      interval: 10s
      timeout: 5s
      retries: 5
volumes:
  bundle_data:
  postgresql_data:
  node_modules:
