version: '3'
services:
  web:
    build:
      context: .
      dockerfile: Dockerfile.dev
    command: bash -c "bundle install && bundle exec rails db:prepare && rm -f tmp/pids/server.pid && ./bin/dev -b '0.0.0.0'"
    tty: true
    stdin_open: true
    volumes:
      - .:/myapp
      - bundle_data:/usr/local/bundle:cached
      - node_modules:/myapp/node_modules
    environment:
      TZ: Asia/Tokyo
      DATABASE_URL: postgres://postgres:postgres@db:5432/carparking_management_development 
      POSTGRES_USER: akaeda510
      POSTGRES_PASSWORD: zh6phm510
    ports:
      - "3000:3000" 
    healthcheck:
      test: ["CMD-SHELL", "bundle exec rails db:connection"]
      interval: 10s
      timeout: 5s
      retries: 5
    depends_on:
      db:
        condition: service_healthy # dbサービスが起動完了（正常）になってから web を起動
        
  db:
    image: postgres:16-alpine 
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      # volumesのpostgresql_dataとリンク
      - postgresql_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  bundle_data:
  postgresql_data:
  node_modules:
